@import "__fonts.less";

@monospace: 'VT323', 'Glass TTY VT220', 'PR Number 3', 'vt220-mod', 'Roboto Mono', 'Source Code Pro', Menlo, "Bitstream Vera Sans Mono", 
    "DejaVu Sans Mono", Monaco, Consolas, Courier, monospace;
@system: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Droid Sans", "Helvetica Neue", sans-serif;
@primary: #0066ce;
@material-primary: #5f97fc;
@secondary: #cd0030;
// @highlight: rgba(243, 243, 21, 0.28);


// The mu (mathematical unit) is defined by TeX as 1/18 em
@mu: 1.0/18.0em;



.ML__mathlive {

    /*** ***/

    .mathit {
        font-family: KaTeX_Math;
        font-style: italic;
    }

    .mathrm {
        font-style: normal;
    }

    .textit {
        font-style: italic;
    }


    .mathbf {
        font-family: KaTeX_Main;
        font-weight: bold;
    }

    .amsrm {
        font-family: KaTeX_AMS;
    }

    .amsbf {
        font-family: KaTeX_AMS;
        font-weight: bold;
    }

    .amsit {
        font-family: KaTeX_AMS;
        font-style: italic;
    }

    .mathbb {
        font-family: KaTeX_AMS;
    }

    .mathcal {
        font-family: KaTeX_Caligraphic;
    }

    .mathfrak {
        font-family: KaTeX_Fraktur;
    }

    .mathtt {
        font-family: KaTeX_Typewriter;
    }

    .mathscr {
        font-family: KaTeX_Script;
    }

    .mathsf {
        font-family: KaTeX_SansSerif;
    }

    .mainit {
        font-family: KaTeX_Main;
        font-style: italic;
    }

    // This value is also used in fontMetrics.js, if you change it make sure the
    // values match.
    @ptperem: 10.0;
    @nulldelimiterspace: 1.2em / @ptperem;

    @thinspace:   0.16667em;      // 3mu
    @mediumspace: 0.22222em;      // 4mu
    @thickspace:  0.27778em;      // 5mu



    .reset-textstyle.scriptstyle { font-size: 0.7em; }
    .reset-textstyle.scriptscriptstyle { font-size: 0.5em; }

    .reset-scriptstyle.textstyle { font-size: 1.42857em; }
    .reset-scriptstyle.scriptscriptstyle { font-size: 0.71429em; }

    .reset-scriptscriptstyle.textstyle { font-size: 2em; }
    .reset-scriptscriptstyle.scriptstyle { font-size: 1.4em; }

    .style-wrap {
        position: relative;
    }

    .vlist {
        display: inline-flex;
        flex-flow: column;

        > span {
            display: block;
            height: 0;
            position: relative;

            > span {
                display: inline-block;
            }
        }
    }

    .msupsub {
        text-align: left;
    }

    .mfrac {
        > span  {
            text-align: center;
        }

       .frac-line {
            width: 100%;

            // &:before {
            //     border-bottom-style: solid;
            //     border-bottom-width: 1px;
            //     content: "";
            //     display: block;
            // }

            &:after {
                border-bottom-style: solid;
                content: "";
                display: block;
                margin-top: -1px;
                border-bottom-width: 0.04em; 
                min-height: 1px;    /* There's a bug since Chrome 62 where 
                sub-pixel border lines don't draw at some zoom 
                levels (110%, 90%). Setting the min-height seems to work around it.
                */
            }
        }
    }

    .rspace {
        &.negativethinspace {
            margin-right: -@thinspace;
        }

        &.thinspace {
            margin-right: @thinspace;
        }

        &.negativemediumspace {
            margin-right: -@mediumspace;
        }

        &.mediumspace {
            margin-right: @mediumspace;
        }

        &.thickspace {
            margin-right: @thickspace;
        }

        &.sixmuspace {
            margin-right: 0.333333em;
        }

        &.eightmuspace {
            margin-right: 0.444444em;
        }

        &.enspace {
            margin-right: 0.5em;
        }

        &.twelvemuspace {
            margin-right: 0.666667em;
        }

        &.quad {
            margin-right: 1em;
        }

        &.qquad {
            margin-right: 2em;
        }
    }
    
    .mspace {
        display: inline-block;

        &.negativethinspace {
            margin-left: -@thinspace;
        }

        &.thinspace {
            width: @thinspace;
        }

        &.negativemediumspace {
            margin-left: -@mediumspace;
        }

        &.mediumspace {
            width: @mediumspace;
        }

        &.thickspace {
            width: @thickspace;
        }

        &.sixmuspace {
            width: 0.333333em;
        }

        &.eightmuspace {
            width: 0.444444em;
        }

        &.enspace {
            width: 0.5em;
        }

        &.twelvemuspace {
            width: 0.666667em;
        }

        &.quad {
            width: 1em;
        }

        &.qquad {
            width: 2em;
        }
    }

    .llap,
    .rlap {
        width: 0;
        position: relative;

        > .inner {
            position: absolute;
        }

        > .fix {
            display: inline-block;
        }
    }

    .llap > .inner {
        right: 0;
    }

    .rlap > .inner {
        left: 0;
    }

    .rule {
        display: inline-block;
        border: solid 0;
        position: relative;
    }

    .overline .overline-line,
    .underline .underline-line {
        width: 100%;

        &:before {
            border-bottom-style: solid;
            border-bottom-width: 0.04em;
            content: "";
            display: block;
        }

        &:after {
            border-bottom-style: solid;
            border-bottom-width: 0.04em; 
            min-height: thin;    /* There's a bug since Chrome 62 where 
            sub-pixel border lines don't draw at some zoom 
            levels (110%, 90%). Setting the min-height seems to work around it.
            */
            content: "";
            display: block;
            margin-top: -1px;
        }
    }

    .sqrt {
        display: inline-block;

        > .sqrt-sign {
            position: relative;
        }

        .sqrt-line {
            width: 100%;
            margin-bottom: 1px;

            &:before {
                border-bottom-style: solid;
                border-bottom-width: 1px; 
                min-height: 1px;    /* There's a bug since Chrome 62 where 
                sub-pixel border lines don't draw at some zoom 
                levels (110%, 90%). Setting the min-height seems to work around it.
                */
                content: "";
                display: block;
                margin-top: -0.1em;
            }

            // &:after {
            //     border-bottom-style: dash;
            //     border-bottom-width: 0.04em;
            //     content: "";
            //     display: block;
            //     margin-top: -0.1em;
            // }
        }

        > .root {
            // These values are taken from the definition of `\r@@t`,
            // `\mkern 5mu` and `\mkern -10mu`.
            margin-left: 5*@mu;
            margin-right: -10*@mu;
        }
    }

    .sizing, .fontsize-ensurer {
        display: inline-block;

        @size1: 0.5;
        @size2: 0.7;
        @size3: 0.8;
        @size4: 0.9;
        @size5: 1.0;
        @size6: 1.2;
        @size7: 1.44;
        @size8: 1.73;
        @size9: 2.07;
        @size10: 2.49;

        .generate-size-change(@from, @to) {
            &.reset-size@{from}.size@{to} {
                @sizeFromVariable: ~"size@{from}";
                @sizeToVariable: ~"size@{to}";
                font-size: (@@sizeToVariable / @@sizeFromVariable) * 1em;
            }
        }

        .generate-to-size-change(@from, @currTo) when (@currTo =< 10) {
            .generate-size-change(@from, @currTo);

            .generate-to-size-change(@from, (@currTo + 1));
        }

        .generate-from-size-change(@currFrom) when (@currFrom =< 10) {
            .generate-to-size-change(@currFrom, 1);

            .generate-from-size-change((@currFrom + 1));
        }

        .generate-from-size-change(1);
    }

    .delimsizing {
        &.size1 { font-family: KaTeX_Size1; }
        &.size2 { font-family: KaTeX_Size2; }
        &.size3 { font-family: KaTeX_Size3; }
        &.size4 { font-family: KaTeX_Size4; }

        &.mult {
            .delim-size1 > span {
                font-family: KaTeX_Size1;
                vertical-align: top;
            }
            .delim-size4 > span {
                font-family: KaTeX_Size4;
                vertical-align: top;
            }
        }
    }

    .nulldelimiter {
        width: @nulldelimiterspace;
    }

    .op-symbol {
        position: relative;

        &.small-op {
            font-family: KaTeX_Size1;
        }
        &.large-op {
            font-family: KaTeX_Size2;
        }
    }

    .op-limits {
        > .vlist > span {
            text-align: center;
        }
    }

    .accent {
        > .vlist > span {
            text-align: center;
        }

        .accent-body > span {
            width: 0;
        }

        .accent-body.accent-vec > span {
            position: relative;
            // This value is half of the value that the MathJax's makeFF shifts
            // it left. We center it by shifting it half way right again.
            left: 0.326em;
        }
    }

    .mtable {
        .vertical-separator {
            display: inline-block;
            margin: 0 -0.025em;
            border-right: 0.05em solid black;
        }

        .arraycolsep {
            display: inline-block;
        }

        .col-align-c > .vlist {
            text-align: center;
        }

        .col-align-l > .vlist {
            text-align: left;
        }

        .col-align-r > .vlist {
            text-align: right;
        }
    }


    &.ML__focused .ML__selected {
        // Highlight color defined in https://www.w3.org/TR/REC-CSS2/ui.html
        background: Highlight !important;
        background: #b4d5fe !important;
        color: HighlightText;
        border-color: HighlightText;
    }

    &.ML__blurred .ML__selected {
        background: #ccc;
    }



}

.ML__command {
    font-family: @monospace;
    font-size: 20px;
    letter-spacing: -.05em;
    font-weight: 400;

    color: @primary;
}



:not(.ML__command) + .ML__command {
    margin-left: .25em;
}

.ML__command + :not(.ML__command)  {
    padding-left: .25em;
}


/* Use the .wide, .narrow and .extended selectors to selectively
    show or hide elements based on the canvas width */
.extended, .wide, .narrow {
    visibility: hidden;
}
.ML__isExtendedWidth .extended {
    visibility: visible;
}
.ML__isWideWidth .wide {
    visibility: visible;
}
.ML__isNarrowWidth .narrow {
    visibility: visible;
}

/* Add an attribute 'data-tooltip' to automatically show a 
   tooltip over a element on hover. 
   Use 'data-position="top"' to place the tooltip above the 
   element rather than below.
   Use 'data-delay' to delay the triggering of the tooltip.
*/
[data-tooltip] {
    position: relative;
    &[data-placement='top']::after {
        top: inherit;
        bottom: 100%;
    }
    &::after {
        position: absolute;
        visibility: hidden;
        content: attr(data-tooltip);
        
        display: inline-table;

        top: 100%;
        left: -50%;
        height: 22px;
        padding: 4px 8px;
        background: #616161;    // Grey 700
        color: #fff;
        text-align: center;
        z-index: 2;

        font-family: @system;
        font-weight: 400;
        font-size: 10px;

        /* Phone */
        @media only screen and (max-width : 768px) {
            height: 32px;
            padding: 4px 16px;
            font-size: 14px;
        }

        opacity: 0;
        border-radius: 2px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        // margin-top: 0;
        transform: scale(0.5);
        // animation: .150s tooltipFadeOut cubic-bezier(0.4, 0.0, 1, 1) forwards;
        transition: all .150s cubic-bezier(0.4, 0.0, 1, 1);

    }
}

[data-tooltip]:hover {
    position: relative;
    &::after {
        visibility: visible;          // Visible triggers the animation...
        opacity: 1;                   // ... but we start fully transparent to
                                    // give ourselves a delay before showing
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        transform: scale(1)
    }
}

[data-tooltip][data-delay]::after {
    // On fade out, we don't want a delay
    transition-delay: 0s;
}
[data-tooltip][data-delay]:hover::after {
    // But we do want a delay on fade in
    transition-delay: 1s; /* attr(data-delay); Should work. But doesn't. */
}


@keyframes tooltipFadeIn {
  0% {
    opacity: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    // margin-top: 0;
    transform: scale(0.5)
  }
  100% {
    opacity: .9;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    // margin-top: 6px;
    transform: scale(1)
  }
}
@keyframes tooltipFadeOut {
  0% {
    opacity: 0.9;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    // margin-top: 0;
    transform: scale(1)
  }
  100% {
    opacity: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    // margin-top: 6px;
    transform: scale(.5)
  }
}


.can-redo [data-command="\"redo\""] {
    opacity: 1 !important;
}
.can-undo [data-command="\"undo\""] {
    opacity: 1 !important;
}


#ML__keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 5px;
    width: 100vw;
    z-index: 100;

    font-family: @system;
    font-weight: 400;

    background-color: rgba(209, 213, 217, .9);;
    border: 1px solid #ddd;

    touch-action: none;
    user-select: none;
    cursor: pointer;

    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14),
                0 3px 14px 2px rgba(0, 0, 0, .12),
                0 5px 5px -3px rgba(0, 0, 0, .4);
    .tex {
        font-family: KaTeX_Main, "Cambria Math", "Asana Math", OpenSymbol, Symbola, STIX, Times, serif;
    }
    .tex-math {
        font-family: KaTeX_Math, "Cambria Math", "Asana Math", OpenSymbol, Symbola, STIX, Times, serif;
    }
    .tt {
        font-family: @monospace;
        font-size: 30px;
        font-weight: 400;
    }

    div.keyboard-layer {
        flex-flow: column;
    }
    div.keyboard-toolbar {
        align-self: center;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 736px;   // Desktop
        /* Tablet */
        @media only screen and (min-width : 768px) and (max-width : 1024px)  {
            width: 556px;
        }
        /* Phone */
        @media only screen and (max-width : 768px) {
            width: 365px
        }
        
        /* Icons for undo/redo, etc.. */
        svg {
            height: 20px;
            width: 25px;
        }
        @media only screen and (max-width : 768px)  {
            svg {
                height: 13px;
                width: 17px;
            }
        }
        div.left {
            justify-content: flex-start;
            display: flex;
            flex-flow: row;
        }
        div.right {
            justify-content: flex-end;
            display: flex;
            flex-flow: row;
        }
        div div {
            /* "button" in the toolbar */
            pointer-events: all;
            color: #000;
            background: 0;
            font-size: 110%;
            padding: 4px 15px;
            cursor: pointer;
            min-height: 0;
            border: none;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 7px;
            margin-bottom: 6px;
            margin-left: 4px;
            margin-right: 4px;
            box-shadow: none;
            border-bottom: 2px solid transparent;

            &.disabled, &.disabled:hover {
                color: #000;
                opacity: .2;
            }

            /* Phone */
            @media only screen and (max-width : 768px)  {
                padding-left: 4px;
                padding-right: 4px;
            }
            &:hover, &:active, .pressed, .active {
                color: @primary;
                fill: @primary;
            }
            &.selected {
                color: @primary;
                fill: @primary;
                border-bottom: 2px solid @primary;
            }
        }
    }
    div.functions-list {
        border: 0;
        border-collapse: separate;
        clear: both;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        max-height: 220px;
        width: 100vw;
        @media only screen and (max-width : 768px) {
            max-height: 172px;
        }

        display: flex;
        justify-content: center;
        // flex-flow: row wrap;
        // align-content: flex-start;
        // max-height: 100%;
        // width: 150px;
        overflow-x: scroll;

        section {
            padding-right: 24px;

            // flex: 1;
            h3 {
                padding: 0;
                margin: 0;
                font-family: @system;
                font-size: 16px;
                color: #000;
                border: 1px solid red;
            }
            div.functions_section_content {
                display: flex;
                flex-flow: column;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-flow: column wrap;
                    max-height: 220px;
                    li {
                        display: flex;
                        justify-content: center;
                        flex-flow: column;
                        height: 40px;
                        box-sizing: border-box;
                        width: 33px;        // 25%;
                        min-width: 70px;
                        padding: 8px 0;
                        margin-right: 4px;
                        margin-bottom: 4px;
                        vertical-align: top;
                        text-align: center;
                        float: left;

                        color: #000;
                        font-size: 20px;
                        background: white;
                        border: 1px solid #e5e6e9;
                        border-bottom-color: #8d8f92;
                        border-radius: 5px;
                        pointer-events: all;

                        // // Waves effect
                        // display: inline-block;
                        position: relative;
                        overflow: hidden;
                        user-select: none;
                        -webkit-tap-highlight-color: transparent;
                        // vertical-align: middle;
                        z-index: 1;
                        transition: .14s cubic-bezier(.4, 0, .2, 1);
                    }
                }
            }
        }

    }
    /* Keyboard layouts are made or rows of keys... */
    div.rows {
        border: 0;
        border-collapse: separate;
        clear: both;
        margin: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        ul {
            list-style: none;
            height: 40px;
            margin: 0 0 3px 0;
            padding: 0;
            li.tt {
                color: @primary;
            }
            /* For the alignment of the text on some modifiers (e.g. shift) */
            li.bottom {
                justify-content: flex-end;
            }
            li.left {
                text-align: left;
                padding-left: .5em;
            }
            li.right {
                text-align: right;
                padding-right: .5em;
            }

            li svg {
                height: 20px;
            }
            /* Extra spacing between two adjacent keys */
            li.separator {
                background: transparent;
                border: none;
                pointer-events: none;
            }
            /* Last key should be flush against the border */
            :last-child {
                margin-right: 0;
            }
            
            li {
                /* Key widths. A standard key is 10 units wide (w10) */
                &.w0 { width: 0; }
                &.w5 { width: 14px; }
                &.w15 {width: 52px;}
                &.w20 {width: 70px;}
                &.w50 {width: 182px;}
                &.tex-math {font-size: 25px;}
                &.tt {font-size: 30px;}
                &:hover, .pressed {
                    box-shadow: inset 0 0 1px 1px #8d8f92;
                }
                &:active, .active {
                    transform: translateY(-20px) scale(1.4, 1.4);
                    z-index: 100;
                    color: @primary;
                }
                &.action.font-glyph, &.modifier.font-glyph {
                    font-size: 18px;
                    @media only screen and (max-width : 768px) {
                        font-size: 12px;
                    }
                }
                display: flex;
                justify-content: center;
                flex-flow: column;
                height: 40px;
                box-sizing: border-box;
                width: 33px;
                padding: 8px 0;
                margin-right: 4px;
                vertical-align: top;
                text-align: center;
                float: left;

                color: #000;
                font-size: 20px;
                background: white;
                border: 1px solid #e5e6e9;
                border-bottom-color: #8d8f92;
                border-radius: 5px;
                pointer-events: all;

                // Waves effect
                position: relative;
                overflow: hidden;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                // z-index: 1;
                transition: .14s cubic-bezier(.4, 0, .2, 1);
                &.fnbutton, &.bigfnbutton {
                    @media only screen and (max-width : 768px)  {
                        font-size: 12px;
                    }
                    // width: 60px;
                    // max-width: 60px;
                }
                &.bigfnbutton {
                    font-size: 14px;
                    @media only screen and (max-width : 768px)  {
                        font-size: 9px;
                    }
                }
                &.bigfnbutton > span.ML__mathlive {
                }
                &.modifier, &.action {
                    background-color: #b9bdc7;
                    border-color: #c5c9d0;
                    border-bottom-color: #989da6;
                    font-size: 65%;
                    font-weight: 100;
                }
                &.modifier.selected, &.action.selected {
                    color: @primary;
                }
                &.keycap.w50 {
                    font-size: 80%;
                    padding-top: 10px;
                    font-weight: 100;
                }            
                small {
                    color: #555;
                    @media only screen and (max-width : 768px)  {
                        font-size: 9px;
                    }                
                }
                aside {
                    font-family: @system;
                    font-size: 10px;
                    line-height: 10px;
                    color: #666;
                    /* On small screens, don't display */
                    @media only screen and (max-width : 768px)  {
                        display: none;
                    }
                }
           }

        }
        /* Tablet size */
        @media only screen and (min-width : 768px) and (max-width : 1024px)  {
            ul { 
                height: 52px; 
                max-height: 52px;
                li {
                    height: 52px;
                    width: 52px;
                    max-width: 52px;
                }
                li.w5 {
                    width: 24px;
                    max-width: 24px;
                }
                li.w15 {
                    width: 80px;
                    max-width: 80px;
                }
                li.w20 {
                    width: 108px;
                    max-width: 108px;
                }
                li.w50 {
                    width: 276px;
                    max-width: 276px;
                }
            }
        }
        /* Desktop size */
        @media only screen and (min-width : 1025px)  {
            ul { 
                height: 52px; 
                max-height: 52px;
                li {
                    height: 52px;
                    width: 70px;
                    max-width: 70px;
                }
                li.modifier, li.action {
                    font-size: 80%;
                }
                li.w5 {
                    width: 33px;
                    max-width: 33px;
                }
                li.w15 {
                    width: 107px;
                    max-width: 107px;
                }
                li.w20 {
                    width: 144px;
                    max-width: 144px;
                }
                li.w50 {
                    width: 366px;
                    max-width: 366px;
                }
            }
        }
    }
    .keyboard-layer {
        display: none;
    }
}

/* The 'material' theme for the virtual keyboard */
div#ML__keyboard.material  {
    font-family: Roboto, sans-serif;
    background-color:#f7f7f7;
    div.keyboard-toolbar {
        div div {
            font-size: 16px;
        }
        div div:hover, div div:active, div.div.active, div.div.pressed {
            color: @material-primary;
            fill: @material-primary;
        }
        div div.selected {
            color: @material-primary;
            fill: @material-primary;
            border-bottom: 2px solid @material-primary;
        }
    }
    div div.rows ul li.keycap {
        background: transparent;
        border: 1px solid transparent;
        border-radius: 5px;
        color: #000;

        &.tt {
            color: @material-primary;
        }

        transition: .14s cubic-bezier(.4, 0, .2, 1);
        &[data-key=' '] {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 20px;
            background: #e0e0e0;

            &:hover, &:active {
                background: #d0d0d0;
                box-shadow: none;
                transform: none;
            }
        }
        &:not([data-key=' ']):hover {
            border: 0;
            background: #cccfd1;
            box-shadow: none;
        }
        &:not([data-key=' ']):active {
            background: #efefef;
            color: #000;
            box-shadow: none;
            @media only screen and (max-width : 768px) {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
                0 1px 5px 0 rgba(0, 0, 0, .12),
                0 3px 1px -2px rgba(0, 0, 0, .2);
                font-size: 10px;
                vertical-align: top;
                width: 18.5px;
                margin-right: 9px;
                margin-left: 9px;
                transform: translateY(-20px) scale(2, 2);
                transition: .07s cubic-bezier(.4, 0, .2, 1);;
                justify-content: flex-start;
                z-index: 100;
            }
        }
        &:last-child:active {
            @media only screen and (max-width : 768px) {
                margin-right: 0;
                margin-left: 14px;
            }
        }
    }
    div div.rows ul li.modifier, div div.rows ul li.action {
        background: transparent;
        border: 0;
        color: #869096;
        font-size: 16px;
        transition: .28s cubic-bezier(.4, 0, .2, 1);;
        &.selected, &.selected {
            color: @material-primary;
            border-radius: 0;
            border-bottom: 2px solid @material-primary;
        }
        &:hover, &:active {
            border: 0;
            color: @material-primary;
            background: #cccfd1;
            box-shadow: none;
        }
    }

};



.ML__error {
    // Wavy pattern
    background-image: radial-gradient(ellipse at center, 
        #cd0030,rgba(76,41,41,0) 70%);

    // background-image:
    //     linear-gradient(45deg, transparent 65%, @secondary 80%, transparent 90%),
    //     linear-gradient(135deg, transparent 5%, @secondary 15%, transparent 25%),
    //     linear-gradient(135deg, transparent 45%, @secondary 55%, transparent 65%),
    //     linear-gradient(45deg, transparent 25%, @secondary 35%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 3px 3px;
    background-position:0 98%;
}

.ML__suggestion {
    opacity: .25;
}

.ML__placeholder {
    // font-family: @system;
    // letter-spacing: -.05em;

    // // background:rgba(243, 243, 21, 0.28);
    // color: rgba(0, 0, 0, .25);

    // font-size: .8em;

    // border-radius: 500px;
    // border: 1px solid rgba(0, 0, 0, .25);;
    padding-left: .12em;
    padding-right: .12em;
}

.ML__placeholder.ML__caret {
    border: none;
    border-radius: 0;
    border-right: 2px solid @primary;
    margin-right: -2px;
    z-index: 1;
    animation: blink 1.05s step-end forwards infinite;

    padding-left: 0;
    padding-right: 0;
}

.ML__keystrokecaption > span {
    min-width: 14px;
    /*height: 8px;*/
    margin: 0 8px 0 0;
    padding: 4px;

    background-color: #fff;
    color: #555;

    font-family: @system;
    /*font-family: @monospace; */
    font-size: 1em;
    text-shadow: 0 1px #fff;
    letter-spacing: -0.07rem;

    border-radius: 6px;
    border: 2px solid #eee;

    /*box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);*/
    box-shadow:0 0 0 1px #ddd, 0 1px 2px 1px #ccc;

}


div.ML__commandbar--buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    user-select: none;

    min-height: 64px;
    flex-wrap: wrap;
}


div.ML__commandbar--buttons > span {
    font-family: @system;
    /*font-family: @monospace; */
    font-size: .6rem;
    text-shadow: 0 1px #fff;
    // letter-spacing: -0.07rem;
    font-weight: 600;
    text-transform: uppercase;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 10px;
    margin: 5px 5px 5px 5px;
    min-height: 48px;
    min-width: 48px;

    cursor: pointer;

    border-radius: 8px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

div.ML__commandbuttons > span.glyph {
    font-size: 1.5em;
    color: #555;
    font-weight: 700;
}

@media (max-width: 600px) {
    div.ML__commandbar--buttons {
        font-size: 2.66vw;
    }
    div.ML__commandbar--buttons > span {
        padding-right: 1.33vw;
        padding-left: 1.33vw;
        padding-top: 1.33vw;
        padding-bottom: 1.33vw;
    }
}

div.ML__commandbar--buttons > span:hover.pressed, 
div.ML__commandbar--buttons > span.pressed {
        background: #0066ce;
        color: white;
}

div.ML__commandbar--buttons > span.active {
    animation: .1s ML__flash forwards;
}

div.ML__commandbar--buttons span span.ML__dynamicLabel {
    display: block;
    text-align: center;
    text-transform: none;
}

div.ML__commandbar--buttons span span.ML__shortLabel {
    font-family: @system;
    font-size: .7rem;
    line-height: 1em;
    text-align: center;
    padding-top: .25em;
    opacity: .7;
}

div.ML__commandbar--buttons span span.ML__keyboardShortcut {
    font-family: @system;
    font-size: .7rem;
    line-height: 1em;
    text-align: center;
    opacity: .7;
    margin-left: .5em;
    text-transform: none;
}

@keyframes ML__flash {
    from {
        background: #0066ce;
        color: white;
    }
    to {
        color: inherit;
        background: inherit;
    }
}

.ML__commandbartoggle:hover {
    background: #eee;
}

.ML__commandbartoggle.pressed, 
.ML__commandbartoggle.active:hover, 
.ML__commandbartoggle.active {
    background: #fff;
    color: white;
    &:after {
        text-shadow: none;
        color: white;
    }
}
    
div.ML__commandbar--buttons > span:hover {
    background: #eee;
    text-shadow: none;
}

div.ML__commandbar--buttons > span.ML__round {
    border-radius: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-weight: 900;
}


div.ML__commandbar--panel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 8px;
    padding-right: 8px;

    font-family: @system;

    cursor: default;
}

.ML__popover.ML__popover_visible {
    visibility: visible;
    animation: ML__fadeIn cubic-bezier(0.0, 0.0, 0.2, 1) .15s;
}
@keyframes ML__fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* The wrapper class for the entire content of the popover panel */
.ML__popover_content {
    border-radius: 6px;
    padding: 2px;
    cursor: pointer;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
}

.ML__popover_content a {
    color: #5Ea6Fd;
    padding-top: .3em;
    margin-top: .4em;
    display: block;
}

.ML__popover_content a:hover {
    color: #5Ea6Fd;
    text-decoration: underline;
}

/* Since the content can be clicked on, provide feedback on hover */
.ML__popover_content:hover, 
.ML__popover_content.pressed,
.ML__popover_content.active {
    background: rgba(255, 255, 255, .1);
}

/* The command inside a popover (inside a ML__popover-content) */
.ML__popover_command {
    font-size: 1.6rem;
}

.ML__popover_prev-shortcut {
    height: 31px;
    opacity: .1;
    cursor: pointer;

    margin-left: 8px;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.ML__popover_prev-shortcut:hover, 
.ML__popover_next-shortcut:hover{
    opacity: .3;
}

.ML__popover_prev-shortcut.pressed,
.ML__popover_next-shortcut.pressed {
    opacity: 1;
}

.ML__popover_prev-shortcut.active, 
.ML__popover_next-shortcut.active {
    opacity: 1;
}

.ML__popover_prev-shortcut > span, 
.ML__popover_next-shortcut > span {
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.ML__popover_prev-shortcut > span > span {
    margin-top: -2px;
    display: block;
}

.ML__popover_next-shortcut > span > span {
    margin-top: +2px;
    display: block;
}


.ML__popover_prev-shortcut:hover > span, 
.ML__popover_next-shortcut:hover > span {
    background: rgba(255, 255, 255, .1);
}

.ML__popover_next-shortcut {
    height: 34px;
    opacity: .1;
    cursor: pointer;

    margin-left: 8px;
    margin-right: 8px;
    padding-top: 2px;
    padding-bottom: 4px;
}

/* The keyboard shorcuts for a symbol as displayed in the popover */
.ML__popover_shortcut {
    font-family: @system;
    font-size: .8em;
    opacity: .7;

    margin-top: .25em;
    padding-top: .25em;
}

/* The field in a popover that provides some info about the symbol */
.ML__popover_note {
    font-family: @system;
    font-size: .8rem;
    opacity: .7;

    line-height: 1em;

    padding-left: .5em;
    padding-right: .5em;
    padding-top: .25em;
}

/* Style for the character that joins the modifiers of a keyboard shortcut 
(usually a "+" sign)*/
.ML__shortcut_join {
    opacity: .5;
}


