@math_main: KaTeX_Main;

.ML__mathfield {
    position: relative;
}

.ML__mathlive {
    // font: 400 100% @math_main,'times new roman',serif;
    line-height: 0;

    direction: ltr;

    text-align: left;
    text-indent: 0;
    text-rendering: auto;
    font-style: normal;
    font-size-adjust: none;
    letter-spacing: normal;

    word-wrap: normal;
    word-spacing: normal;
    white-space: nowrap;

    display: inline-block;

    text-shadow: none;
    user-select: none;

    width: min-content;

    // Encourage browsers to consider allocating a hardware accelerated 
    // layer for this element.
    transform: translateZ(0);
}

.ML__base {
    display: inline-block;
    position: relative;
}

.ML__strut, .ML__strut--bottom {
    display: inline-block;
    min-height: 1em;
}

.ML__caret:after {
    content: '';
    border: none;
    border-radius: 2px;
    border-right: 2px solid var(--caret);
    margin-right: -2px;
    position: relative;
    left: -1px;

    animation: ML__caret-blink 1.05s step-end forwards infinite;
}

.ML__text-caret:after {
    content: '';
    border: none;
    border-radius: 1px;
    border-right: 1px solid var(--caret);
    margin-right: -1px;
    position: relative;
    left: 0;

    animation: ML__caret-blink 1.05s step-end forwards infinite;
}

.ML__command-caret:after {
    content: '_';
    border: none;
    margin-right: 0;
    margin-right: -1ex;
    position: relative;
    color: var(--caret);
    animation: ML__caret-command-blink 1.05s step-end forwards infinite;
}

/* Text mode */
.ML__text {
    white-space: pre;
}

.ML__focused .ML__text {
    background: hsla(var(--hue), 40%, 50%, .1);
}

@keyframes  ML__caret-command-blink {
    from, to    { opacity: 1; }
    50%         { opacity: 0; }
}


@keyframes  ML__caret-blink {
    from, to    { border-color: var(--caret); }
    50%         { border-color: transparent; }
}

/* Style for the invisible textarea element which is used
to capture keyboard events. We're just trying really hard 
to make sure it doesn't show. */
.ML__textarea__textarea {
    transform: scale(0);
    resize: none;
    /* user-select: text;   Not sure it's needed  */

    /* Need these for Microsoft Edge */
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    /*-ms-transform: scale(0);*/

    /* Need this to prevent iOS Safari from auto-zooming */
    font-size: 16px;
}


.ML__fieldcontainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 39px;       /* Need some room for the virtual keyboard toggle */

    /* Prevent the browser from trying to interpret touch gestures in the field */
    /* "Disabling double-tap to zoom removes the need for browsers to 
        delay the generation of click events when the user taps the screen." */
    touch-action: none;
    width: 100%;

    --hue: 212;
    --highlight: hsl(var(--hue),97%,85%);
    // --highlight: Highlight;         // Highlight color defined in https://www.w3.org/TR/REC-CSS2/ui.html
    //                                 // It has been deprectated in https://www.w3.org/TR/css-color-3/ :(
    // --on-highlight: HighlightText;
    --caret: hsl(var(--hue), 40%, 49%);
    --highlight-inactive: #ccc;
    --primary: hsl(var(--hue), 40%, 50%);

    --secondary: hsl(var(--hue),19%,26%);
    --on-secondary: hsl(var(--hue),19%,26%);    
}

@media (prefers-color-scheme: dark) {
    body:not([theme="light"]) .ML__fieldcontainer {
        --highlight: hsl(var(--hue), 40%, 49%);
        --highlight-inactive: hsl(var(--hue), 10%, 35%);
        --caret: hsl(var(--hue),97%,85%);
        --secondary: hsl(var(--hue),25%,35%);
        --on-secondary: hsl(0,0%,98%);
    }
}

body[theme="dark"] .ML__fieldcontainer {
    --highlight: hsl(var(--hue), 40%, 49%);
    --highlight-inactive: hsl(var(--hue), 10%, 35%);
    --caret: hsl(var(--hue),97%,85%);
    --secondary: hsl(var(--hue),25%,35%);
    --on-secondary: hsl(0,0%,98%);
}

.ML__fieldcontainer:focus {
    outline: 2px solid var(--primary);
    outline-offset: 3px;
}

/* This is the actual field content (formula) */
.ML__fieldcontainer__field { 
    align-self: center;
    position: relative;
    overflow: hidden;
    line-height: 0;
    padding: 2px;
    width: 100%;
    cursor: text;
}



.ML__virtual-keyboard-toggle {
    display: flex;
    align-self: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;

    width: 34px;
    height: 34px;
    padding: 0;
    margin-right: 4px;
    cursor: pointer;
    box-sizing: border-box;
    /* Avoid some weird blinking with :hover */
    border-radius: 50%;
    border: 1px solid transparent;
    transition: background 0.2s cubic-bezier(.64,.09,.08,1);
    color: var(--primary);
    fill: currentColor;
    background: transparent;

    &:hover {
        background: hsl(var(--hue),25%,35%);
        color: hsl(0,0%,98%);
        fill: currentColor;
        border-radius: 50%;
        // border: 1px solid rgba(255, 255, 255, .9);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
}



/* The element that display info while in command mode */
.ML__popover {
    visibility: hidden;
    min-width: 160px;
    background-color: rgba(97, 97, 97, .95);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    // padding: 8px 8px;
    position: fixed;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.2s cubic-bezier(.64,.09,.08,1);

    /* The 'tip' of the popover panel */
    &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: calc(50% - 3px);
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        
        font-size: 1rem;
        
        border-bottom: 5px solid rgba(97, 97, 97, .9);
    }
}


