:root {
	--monospace-font: 'IBM Plex Mono', 'Source Code Pro', monospace;
}

/** fix pretty-print tommorrow night 80 */
.prettyprint {
	padding-left: 0;
	padding-right: 0;
	border: 1px solid rgba(255, 255, 255, .3);
	border-right: 1px solid rgba(0, 0, 0, .3);
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	border-radius: 8px;
}
.prettyprint.linenums {
	padding-left: 0;
}
.prettyprint.linenums li {
	margin-left: 60px;
	border-left: 1px solid #eee;
	padding-left: 0;
}

.prettyprint.linenums li code {
	background: transparent;
	font-size: 14px;
}

.prettyprint.linenums ol li.L0, li.L2,li.L4, li.L6, li.L8 {
	background-color: rgba(128, 128, 128, .1);
}

.prettyprint code {
	padding-left: 10px;
	padding-right: 0;
	margin: 0;
	border-radius: 0;
	background: transparent;
}

body {
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: var(--on-secondary);
	background: var(--secondary);

    --hue: 210;
    --surface: #fafafa;        
    --surface-border: #fff;
	--surface-contrast: #f2f2f2;
    --editable-surface: #fff;
    --editable-surface-border: #fafafa;
    --secondary: #f2f2f2;
    --on-secondary: hsl(var(--hue),19%,26%);
    --secondary-border: hsl(0,0%,91%);
    --on-surface: hsl(var(--hue),10%,50%);
    --on-surface-dimmed: hsla(var(--hue),19%,26%, 0.4);
    --link: hsl(var(--hue),40%,49%);;
    --primary: hsl(var(--hue), 40%, 50%);
    --on-primary: #fafafa;

}
@media (prefers-color-scheme: dark) { body {
    --surface: hsl(var(--hue),19%,26%);
    --surface-border: hsl(0,0%,20%);
	--surface-contrast: #555;
    --editable-surface: #333;      
    --editable-surface-border: hsl(0,0%,13%);
    --secondary: hsl(var(--hue),25%,35%);
    --on-secondary: hsl(0,0%,98%);
    --secondary-border: hsl(var(--hue),19%,26%);
    --on-surface: hsl(0,0%,98%);
    --on-surface-dimmed: hsla(0,0%,98%,0.4);
    --link: hsl(var(--hue),36%,84%);
}}

footer {
	margin-left: 45px;
	padding-left: 0;
	font-size: small;
	padding-top: 40px;
	color: #bbb;
}
footer a {
	color: var(--link)
}
h1 {
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 700;
	color: var(--primary);
	letter-spacing: -0.01em;
}
h1.page-title {
	margin: auto;
	max-width: 820px;
	text-transform: none;
	font-size: 64px;
	line-height: 78px;
	font-weight: 700;
}

section.readme article h1 img {
	border-radius: 5px 5px 0 0 ;
}

h2 {
	font-weight: 700;
}
h3 {
	font-weight: 700;
}
h4 {
	font-size: 17.5px;
}

.container-overview, .method, .member {
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 20px 17px;
	border-radius: 4px;
	border: 1px solid var(--surface-border);;
	background-color: var(--surface);
	color: var(--on-surface);
	max-width: 820px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.container-overview .method {
	border: none;
	padding: 20px 0 0 0;
	margin: 0;
	box-shadow: none;
}

.no-private .method.private, .no-private li.private  {
	display: none;
}
.member h4, .method h4 {
	border-bottom: 1px solid #e7e7e7;
	font-weight: 400;
	padding-bottom: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.property {
	margin-bottom: 10px;
}

.member p, .method p, .property .description p {
	font-size: 17px;
	line-height: 26px;
	margin-left: 26px;
	margin-top: 0;
	margin-bottom: 0;
}

.props {
	border: 0;
	box-shadow: none;
}

.param {
	font-family: inherit;
}

.param div.signature {
	font-family: inherit;
	padding-left: 0;
	margin-bottom: 20px;
}

.param div.signature .default {
	font-family: var(--monospace-font);
	font-size: 14px;
}


.description p {
	margin-left: 0;
}

.tag-source {
	background: var(--secondary);
	border-radius: 8px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid var(--surface-border);

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

article h2 {
	color: var(--primary);
	font-size: 36px;
	line-height: 36px;
}

article h3 {
	color: #999;
	font-weight: 600;
}

section.readme h1 {
	margin-top: 0;
}

section.readme h2, section.readme ul, section.readme p {
	margin-left: 20px;
	margin-right: 20px;
}

h3.subsection-title {
	padding-top: 2em;
}

h5, .container-overview .subsection-title {
	color: #999;
	font-size: 28px;
	line-height: 31px;
	padding-top: .5em;
	padding-bottom: .5em;
}

a, a:active, a code, a:active code {
	color: var(--link);
}
tt, code, kbd, samp {
	font-family: var(--monospace-font);
	font-size: 0.8em;
  	background: rgba(128, 128, 128, .05);
	color: var(--on-surface);
	border: 1px solid rgba(0, 0, 0, .08);
}
article h2 tt, article h2 code, article h2 kbd, article h2 samp, 
article h3 tt, article h3 code, article h3 kbd, article h3 samp {
	color: inherit;
	border: none;
	background: transparent;
}

.details {
	font-size: .85em;
	color: var(--on-surface-dimmed);
	background: var(--surface-contrast);
}
.param-type {
	font-family: var(--monospace-font);
	font-size: 14px;
	color: #b294bb;
  	/* background: rgba(128, 128, 128, .05);
	border: 1px solid rgba(0, 0, 0, .08);
	color: var(on-surface-dimmed); */
	text-shadow: none;
	padding: 4px 0 4px 7px;
	/* border-radius: 3px; */
	white-space: nowrap;
	vertical-align: baseline;
}
.member > h4.name, .method > h4.name {
	font-family: var(--monospace-font);
	color: var(--on-secondary);
	font-size: 14px;
	font-weight: bold;
}
h4.name > .signature,  h4.name > .type-signature {
	font-family: var(--monospace-font);
	font-weight: normal;
	color: inherit;
}
h4.name > .signature > .signature-type, 
h4.name > .signature > .type-signature {
	color: #b294bb;
}
.type-signature .attrib {
	background: var(--secondary);
	border: 1px solid var(--surface-border);
}
h4.name > .signature > .signature-attributes {
	color: #b294bb;
	font-family: var(--monospace-font);
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
}
.name code {
	margin-bottom: 5px;
	border: none;
	font-family: var(--monospace-font);
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: var(--on-secondary);
	background: transparent;
}
.attributes span.attribute {
	font-family: var(--monospace-font);
	font-weight: bold;
}

#nav {
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	background: transparent;
	opacity: 1;
	padding: 0;
	margin: 0;
	width: 320px;
	position: relative;
	transition: opacity .25s, left .25s;
}

nav ul {
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	margin-right: 15px;
}
nav ul ul {
	margin: 0;
}



#nav h3 {
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: var(--primary);
}

#nav-trigger {
	background: rgba(128, 128, 128, .1);
	border-radius: 9px;
	border: 2px solid rgba(0, 0, 0, .1);
}

.overlay {
	backdrop-filter: blur(12px) saturate(80%);
}

#toggle-private {
	margin-top: 48px;
	margin-bottom: 48px;
}

#nav .checkbox {
	display: block;
	margin-top: 12px;
	font-size: .9em;
	margin-left: 45px;
}

nav ul a, nav ul a:active {
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 14px;
}	

#main{
	width: calc(100% - 320px);
	padding: 0;
	margin-left: 0;
	position: absolute;
	top: 0;
	left: 320px;
}
@media only screen and
	(max-width: 990px) and
	(min-width: 320px) and
	(-webkit-min-device-pixel-ratio: 2) {
	#main {
		width: 100%;
		padding: 0;
		left: 0;
	}
	#main h1.page-title {
		max-width: 820px;
		margin: auto;
	}
	.forkme {
		display: none;
	}

	.navicon-button {
		top: 4px;
	}

	#nav {
		opacity: 0;
		background: var(--surface);
		left: -80vw;
		font-size: 24px;
		position: fixed;
		width: 80vw;
		transition: opacity .25s, left .25s;
	}
	input.search {
		font-size: 18px;
	}
	footer {
		margin-left: 0;
	}
}

section[role="navigation"] {
	position: fixed;
	top: 0;
	padding: 0;
	height: 100vh;
	width: 320px;
	overflow: scroll;
	overscroll-behavior: none;
	border-right: 1px solid var(--secondary-border);
}

section {
	background-color: transparent;
}

section.readme {
	max-width: 820px;
}

section.readme, section.container, section.tutorial {
	max-width: 820px;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
}

section.tutorial article {
	margin-left: 20px;
	margin-right: 20px;
}

section.tutorial aside {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	border-top: 1px solid var(--surface-border);
	padding-top: 0;
	padding-bottom: 10px;
	background: var(--surface-contrast);
}

section.tutorial aside h3 {
	color: #999;
}

 section.readme, section.tutorial {
	font-size: 17px;
	line-height: 26px;
	background-color: var(--surface);
	border: 1px solid var(--surface-border);
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

section.source {
	padding: 0;
}

.prettyprint.linenums li.selected, .prettyprint.linenums li.selected *{
   background-color: rgba(244, 222, 54, 0.33);
}
nav ul li a, nav ul li a:active, nav ul li ul li a, nav ul li ul li a:active {
	border-radius: 0 25px 25px 0;
	border: 1px solid transparent;
	color: var(--on-secondary);
	font-size: 14px;
	line-height: 40px;
	vertical-align: top;
	font-weight: 600;
	min-height: 40px;
	padding-bottom: 4px;
	padding-top: 4px;
	width: 100%;
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 45px;
}
nav ul li a:hover, nav ul li ul li a:hover{
	background: var(--surface);
	border: 1px solid var(--secondary-border);
}
nav ul li a:hover, nav ul li ul li a:hover{
	color: var(--link);
}

nav ul li ul li a, nav ul li ul li a:active {
	padding-left: 60px;
}


h3.group-title.home {
	font-size: 24px;
	font-weight: 900;
	margin-top: 30px;
	margin-bottom: 45px;
}

h3.group-title{
	padding: 15px 24px 0;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	font-weight: 500;
	cursor: default;
	letter-spacing: 0.0727272em;
	opacity: .8;
	border: none;
}

dl.inherited-line{
	border-bottom: 1px solid hsl(0, 0%, 87%);
  	/* margin-bottom: 30px;
 	padding-bottom: 30px; */
}
input.search{
	border-radius: 1000px;
	padding : 5px 8px;
	border: 1px solid var(--editable-surface-border);
	width: calc(100% - 30px);
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 30px;
}
input.search:focus{
	background: var(--editable-surface);
	border: 1px solid var(--editable-surface-border);
	outline: 0;
	box-shadow: 0 0 5px 2px #0066ce;
}
input.search::placeholder {
	color: #999;
}
.className{
	color : var(--primary);
}

.tutorial table tr:nth-child(even) {
	background: var(--secondary);
}


