body {
    --hue: 210;
    --surface: #fafafa;
    --surface-border: #fff;
    --editable-surface: #fff;
    --editable-surface-border: #fafafa;
    --secondary: #f2f2f2;
    --on-secondary: hsl(var(--hue, 212), 19%, 26%);
    --secondary-border: hsl(0, 0%, 91%);
    --on-surface: hsl(var(--hue, 212), 19%, 26%);
    --on-surface-dimmed: hsla(var(--hue, 212), 19%, 26%, 0.4);
    --link: hsl(var(--hue, 212), 40%, 49%);
    --primary: hsl(var(--hue, 212), 40%, 50%);
    --on-primary: #fafafa;

    --kbd-surface: #f5f5f5;
    --on-kbd: #555;
    --kbd-shadow: #fff;
}
@media (prefers-color-scheme: dark) {
    body:not([theme='light']) {
        --surface: hsl(var(--hue, 212), 19%, 26%);
        --surface-border: hsl(0, 0%, 20%);
        --editable-surface: #333;
        --editable-surface-border: hsl(0, 0%, 13%);
        --secondary: hsl(var(--hue, 212), 25%, 35%);
        --on-secondary: hsl(0, 0%, 98%);
        --secondary-border: hsl(var(--hue, 212), 25%, 18%);
        --on-surface: hsl(0, 0%, 98%);
        --on-surface-dimmed: hsla(0, 0%, 98%, 0.4);
        --link: hsl(var(--hue, 212), 36%, 84%);

        --kbd-surface: hsl(var(--hue, 212), 19%, 19%);
        --on-kbd: #eee;
        --kbd-shadow: #333;
    }
}
body[theme='dark'] {
    --surface: hsl(var(--hue, 212), 19%, 26%);
    --surface-border: hsl(0, 0%, 20%);
    --editable-surface: #333;
    --editable-surface-border: hsl(0, 0%, 13%);
    --secondary: hsl(var(--hue, 212), 25%, 35%);
    --on-secondary: hsl(0, 0%, 98%);
    --secondary-border: hsl(var(--hue, 212), 25%, 18%);
    --on-surface: hsl(0, 0%, 98%);
    --on-surface-dimmed: hsla(0, 0%, 98%, 0.4);
    --link: hsl(var(--hue, 212), 36%, 84%);

    --kbd-surface: hsl(var(--hue, 212), 19%, 19%);
    --on-kbd: #eee;
    --kbd-shadow: #333;
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    background: var(--surface);
    color: var(--on-surface);
    fill: currentColor;
}

main {
    flex: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.sr-only {
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);

    /* left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden         */
}

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
    display: flex;
    align-self: center;
    justify-content: center;

    left: auto;
    top: auto;
    width: 300px;
    height: auto;
    overflow: auto;
    margin: 10px;
    padding: 15px;

    color: #fff;
    background-color: var(--primary, hsl(var(--hue, 212), 40%, 50%));
    border-radius: 15px;
    border: 4px solid #fefefe;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 1em;
    z-index: 999;
    outline: none;
}

.mathlive {
    font-family: 'Open Sans', Futura, Roboto, system-ui, -apple-system,
        'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
        sans-serif;
    font-weight: 900;
    color: var(--primary, hsl(var(--hue, 212), 40%, 50%));
}

.mathlive > svg {
    width: 70%;
    margin-top: -54px;
}

nav#menu {
    display: block;
    position: fixed;
    width: 280px;
    height: 100%;
    background: var(--surface);
    border-right: 1px solid var(--surface-border);
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
    z-index: 103;
    transform: translateX(-300px);
    overflow-y: scroll;
}

nav#menu > header {
    position: absolute;
    height: 48px;
    width: 210px;
    top: 8px;
    left: 64px;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

nav#menu > section:first-of-type {
    margin-top: 64px;
}
nav#menu > section:not(:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

nav#menu > section > h2 {
    padding: 15px 24px 0;
    font-size: 0.86rem;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: default;
    letter-spacing: 0.07272727em;
    opacity: 0.8;
    border: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    padding: 8px 0;
    list-style: none;
    width: 272px;
}

nav ul > li {
    border-radius: 0 25px 25px 0;
    border: 1px solid transparent;
    color: var(--on-surface);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    min-height: 40px;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 100%;
    margin: 0;
}

nav ul > li button {
    color: var(--on-surface);
}

nav ul > li:hover {
    background: var(--secondary);
    border: 1px solid var(--secondary-border);
    color: var(--link);
}

nav ul > li.is-selected,
nav ul > li.is-selected:hover {
    border: 1px solid transparent;
    background: var(--primary, hsl(var(--hue, 212), 40%, 50%));
}
nav ul > li.is-selected a,
nav ul > li.is-selected a:visited,
li.is-selected a:visited:hover,
nav ul > li.is-selected:hover a {
    color: var(--on-primary);
}
nav ul > li a,
nav ul > li a:visited {
    color: var(--on-surface);
}
nav ul > li:not(.is-selected):hover a,
nav ul > li:not(.is-selected):hover a:visited {
    color: var(--link);
}

nav ul > li > a,
nav ul > li > a:visited {
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

nav ul > li > button {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
    text-align: left;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0;
}

/* Nav menu item, icon */
nav ul > li > a > svg,
nav ul > li > button > svg {
    height: 24px;
    width: 24px;
    float: left;
    margin-top: 8px;
    vertical-align: middle;
    margin-left: 24px;
    opacity: 0.7;
}

nav ul > li > a > svg:last-child,
nav ul > li > button > svg:last-child {
    visibility: hidden;
    float: right;
    margin: 0;
    margin-top: 8px;
    margin-right: 12px;
    width: 16px;
}

nav ul > li:hover > a > svg:last-child,
nav ul > li:hover > button > svg:last-child {
    visibility: visible;
}

nav ul > li > a > span,
nav ul > li > button > span {
    display: inline-block;
    padding-left: 16px;
    line-height: 40px;
    vertical-align: top;
    width: 176px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* To open the menu immediately, add is-open class */
nav#menu.is-open {
    transform: translateX(0);
}
/* To animate open/close, add slide-in/slide-out */
.slide-in {
    animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0);
    }
}

.slide-out {
    animation: slide-out 0.5s forwards;
}
@keyframes slide-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300px);
    }
}

/* Scrim */
#scrim {
    display: none;
    position: fixed;
    z-index: 102;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: saturate(70%) blur(6px) brightness(80%);
}

#scrim.is-visible {
    display: block;
}

/* Content */
#content {
    /* transition-timing-function: ease;
    transition-duration: .5s;
    transition-property: transform, width; */
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    touch-action: pan-y;
}

/* Disable scrolling while the menu is open */
body.is-nav-menu-open #content {
    overflow: hidden;
    touch-action: none;
}

/* Hamburger menu */
.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 8px 5px 8px 5px;
    padding: 8px;
    cursor: pointer;
    /* transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: background,box-shadow; */
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    z-index: 104;
    position: fixed;
    left: 8px;
}
.hamburger.is-active:hover,
.hamburger:hover {
    background: var(--secondary);
    border: 1px solid var(--secondary-border);
    color: var(--on-secondary);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: #bbb;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 24px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #bbb;
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: '';
}

.hamburger-inner:before {
    top: -8px;
}

.hamburger-inner:after {
    bottom: -8px;
}

.hamburger--spin .hamburger-inner {
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.22s;
}

.hamburger--spin .hamburger-inner:before {
    transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner:after {
    transition: bottom 0.1s ease-in 0.25s,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(225deg);
}

.hamburger--spin.is-active .hamburger-inner:before {
    top: 0;
    transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    opacity: 0;
}

.hamburger--spin.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom 0.1s ease-out,
        transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(-90deg);
}

/** LaTeX **/
.tex sub,
.latex sub,
.latex sup {
    text-transform: uppercase;
}

.tex sub,
.latex sub {
    vertical-align: -0.45ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.tex,
.latex,
.tex sub,
.latex sub {
    font-family: 'Times New Roman', Times, Georgia, serif;
    font-size: 1rem;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

/* The appbar header */

div#content > header {
    display: flex;
    flex-flow: column;
    justify-content: center;

    background-color: var(--primary, hsl(var(--hue, 212), 40%, 50%));
    height: 48px;
    padding: 8px;

    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
}

div#content > header h1,
div#content > header h2 {
    font-family: 'Futura', 'Open Sans', system-ui, -apple-system, 'Segoe UI',
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: var(--on-primary);
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 40px;
    margin-right: auto;
    letter-spacing: -0.04ex;
    text-rendering: optimizeLegibility;
    line-height: 0.8em;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    width: 720px;
    max-width: 720px;
}
div#content > header h2 {
    font-size: 2rem;
    height: auto;
}

/* App Layout */
div#content > section {
    width: 720px;
    max-width: 720px;
    margin: auto;
}

/* Main Content */
a,
a:visited {
    color: var(--link);
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: underline;
}
p {
    color: var(--on-surface);
}

h2,
h3 {
    border-color: var(--primary, hsl(var(--hue, 212), 40%, 50%));
    color: var(--primary, hsl(var(--hue, 212), 40%, 50%));
}
h2 {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 0.9;
    letter-spacing: 0.004em;
    border-top: 5px solid;
}

h3 {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 0.9;
    letter-spacing: 0.004em;
    border-top: 3px solid;
}
@media (max-width: 512px) {
    h2 {
        font-size: 21px;
    }
    h3 {
        font-size: 21px;
    }
}
h4 {
    font-weight: 700;
    width: 9rem;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: -4px;
}

kbd {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    background: var(--kbd-surface);
    color: var(--on-kbd);
    text-shadow: 0 1px var(--kbd-shadow);
    /* letter-spacing: -0.07rem; */

    border-radius: 0.3rem;
    border: 2px solid var(--kbd-shadow);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0.2);

    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

/* UI Elements */
.pill {
    border: 1px solid #4b79af;
    border-radius: 100px;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    vertical-align: -4px;

    display: inline-block;
    cursor: pointer;
    line-height: 40px;
    margin-bottom: 5px;
}

.pill.selected {
    color: #fff;
    background: var(--primary, hsl(var(--hue, 212), 40%, 50%));
}

.pill-group .pill {
    display: inline-block;
    cursor: pointer;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    border: 1px solid var(--primary, hsl(var(--hue, 212), 40%, 50%));
    border-width: 1px 1px 1px 0;
    box-sizing: border-box;
    width: 55px;
    border-radius: 0;
    height: 40px;
}
.pill-group .pill:first-child {
    border-bottom-left-radius: 20px;
    border-left-width: 1px;
    border-top-left-radius: 20px;
}
.pill-group .pill:last-child {
    border-bottom-right-radius: 20px;
    /* border-left-width: 1px; */
    border-top-right-radius: 20px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 50%, 0.4);
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: hsla(0, 0%, 100%, 0.8);
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

input:checked + .slider {
    background-color: var(--primary, hsl(var(--hue, 212), 40%, 50%));
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary, hsl(var(--hue, 212), 40%, 50%));
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/** Tables **/
table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

@media screen and (max-width: 600px) {
    table.compact-definition-table {
        margin: auto;
    }

    table.compact-definition-table tbody tr td {
        display: table-cell;
        max-width: 100;
        empty-cells: hide;
    }

    table.compact-definition-table tbody tr td:first-child,
    table.compact-definition-table tbody tr td {
        background: transparent;
        border-top: inherit;

        text-align: center;
        padding: 0.5rem;
        border: 0.5px solid #f4f4f4;
        width: 160px;
    }

    tbody tr th {
        display: block;
        empty-cells: hide;
    }
    tbody tr td {
        display: block;
        empty-cells: hide;
    }
    tbody tr td:first-child {
        background: #eee;
        color: #333;
        border-top: 2px solid #333;
        margin-top: 2rem;
    }
}

tbody tr:nth-child(even) td {
    background: hsl(0, 0%, 0%, 6%);
}

table th {
    font-weight: 900;

    text-align: left;
}

table td,
table th {
    padding: 0.5rem 1rem;
    /*border-bottom: 1px solid #cfcfcf;*/
}

table td {
    vertical-align: top;
}

/*table td:last-child {
    width: 99%;
}*/

td.input {
    font-family: 'Source Code Pro', Menlo, 'Bitstream Vera Sans Mono', Monaco,
        Courier, 'Andale Mono', monospace;
    background: #f5f5f5;
    text-shadow: 0 1px #fff;
    border: 0.5px solid #eee;
    padding: 1rem;
}

td.math {
    font-family: 'Source Code Pro', Menlo, 'Bitstream Vera Sans Mono', Monaco,
        Courier, 'Andale Mono', monospace;
    background: #fff;
    text-shadow: 0 1px #fff;
    border: 0.5px solid #eee;
    padding: 1rem;
    font-size: 18px;
}

/* Responsive design adjustments */

/* When the window is wide enough, show both the nav menu and the content area */
@media all and (min-width: 1111px) {
    nav#menu {
        box-shadow: none;
    }
    body.is-nav-menu-open #content {
        transform: translateX(280px);
        width: calc(100vw - 280px);
        overflow: scroll;
        touch-action: pan-y;
    }
    #scrim.is-visible {
        display: none;
    }
    body.is-nav-menu-open #ML__keyboard.is-visible {
        width: calc(100vw - 280px);
    }
}
